# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store

# Edidtor
.project
.vscode
.idea

# NPM
node_modules
npm-debug.log.
npm-debug.log.*
*.log
# package-lock.json
yarn.lock
dist

# zip file

*.zip

# code lint
# .eslintrc
# .editorconfig

# ignore node_modules
/node_modules

# ignore build
project/college/build
qcloud-train/build