doctype html
html
    head
        title
            = htmlWebpackPlugin.options.title
    body
        .profile
            img(src=require("./images/link.jpeg"), alt="")
            h1
                | Hello QianXi
